<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>4DN SPT splitter</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" data-semver="1.0.8"></script>
   <script> var app = angular.module('plunker', []); </script>
    <script src="upload.js"></script>
    <script src="app.js"></script>
  </head>

 <div ng-controller="UploadController ">
  <form>
        <input type="file" ng-file-select="onFileSelect($files)" >
 <!--  <input type="file" ng-file-select="onFileSelect($files)" multiple> -->
  
   </form>
   <h3>Preview:</h3>
   <i ng-hide="imageSrc">No file loaded</i>
   <!-- <img ng-src="{{imageSrc}}" /><br/> -->
   <span ng-repeat="i in SPTheader"> {{i}}<br/></span>

   <h3>Downloads</h3>
   <div ng-repeat="(k,d) in dat">
     <em>{{k}}</em>
     File name: {{k}}_{{file.name}}
     #detections: {{d.length}}
     <a href="#{{k}}" ng-click="getNewFile(k, file.name)">Download</a>
     <br/>
   </div>
   
   <h3>Progress:</h3>
  <progress value="{{progress}}"></progress>
     </div>

</html>
